doctype html
head
  title Editing #{asset.ID} - Intranet
  link(rel='stylesheet' type='text/css' href='/public/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/main.css')
  script(type='text/javascript' src='/public/js/jquery.min.js')
  script(type='text/javascript' src='/public/js/bootstrap.bundle.min.js')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') intranet.heron-green.co.uk
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item.dropdown
        #navbarDropdownMenuLink.nav-link.dropdown-toggle.active(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Asset Management
        div.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='/assetmgt') Asset Management Dashboard
          div.dropdown-divider
          a.dropdown-item(href='/assetmgt/assets') All Assets
          a.dropdown-item(href='/assetmgt/locations') All Locations
          a.dropdown-item.active(href='#') Asset Editor
          a.dropdown-item(href='/assetmgt/locationeditor') Location Editor
    ul.navbar-nav.float-right
      li.nav-item
        a.nav-link(href='/logout') Logout
body
.container-fluid
    table(style='width:100%')
      tr.assettable
        th.assettabletitle ID
        th.assettabletitle Title
        th.assettabletitle Contents
        th.assettabletitle Location
        th.assettabletitle Size
        th.assettabletitle Notes
        tbody.assettable
            tr.assettable
              form.login-form.text-center(action=`/assetmgt/asseteditor` method=`POST`)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.ID)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.Title)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.Contents)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.Locations)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.Size)
                td
                  input.form-control(type=`text` name=`ID` placeholder=asset.Notes)

.footer.footer
  .container
    span.text-muted Copyright © intranet.heron-green.co.uk 2021